@charset "UTF-8";

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(175, 171, 171);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: none
}

::-webkit-scrollbar-button{
  display: none;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: progress;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body{
  background-image: url(../img/nyancat.gif);
  background-size: cover;
  background-position: center;
  /* cursor: url(../img/nyan.cur),  auto; */
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  overflow: hidden;
  
}


.to-do__container{
  display: flex;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 1000px;
  min-height: 800px;
  max-height: 801px;
}

.to-do__active {
  flex: 1 1 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.to-do__title {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 34px;
  letter-spacing: 5px;
  color: rgba(25, 231, 18, 0.9);
  margin-bottom: 50px;
  
}

.to-do__form {
  
}
.to-do-form {
  display: flex;
  flex-direction: column;
}

.to-do-form__input-text {
  margin-bottom: 15px;
  padding-left: 10px;
  height: 65px;
  max-width: 2200px;
}

.to-do-form__btn{
  height: 35px;
  max-width: 300px;
  justify-content: flex-end;
}

.to-do__list{
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 1 55%;
}

.to-do-task__body{
  max-width: 100%;
  flex-wrap: wrap;
}

.to-do-task__checkbox {}

.to-do-task__done {}

.to-do__done{
  flex: 1 1 50%;
  padding: 57px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

/*=========================================*/

.to-do__task {
  flex: 0 1 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding: 15px;
  background-color: rgba(0, 255, 153, 0.5);
}

.to-do__task:not(:last-child){
  margin-bottom: 15px;
}

.to-do-task__body {
  flex: 0 1 50%;
  
}
.to-do-task__checkbox {}

.to-do-task__name{
  
  font-size: 22px;
}

.to-do__buttons {
  flex: 0 0 30%;
  display: flex;
  gap: 10px;
}

.to-do-task__succes{
  flex: 1 1 50%;
  height: 35px;
}

.to-do-task__edit{
  flex: 1 1 30%;
}

.hidden{
  opacity: 0;
  display: none;
  overflow: hidden;
  
}

/*=========================*/

.to-do__btn-done{}

.to-do-task__remove{
  margin-left: 55%;
  height: 35px;
  width: 35%;
}

@media(max-width: 996.98px){
  .to-do-task__remove{
    flex: 1 1 100%;
  }

  .to-do__container{
   flex-wrap: wrap;
}
  .to-do__list{
    max-height: 500px;
  }
}

@media (max-width: 700px){


  .to-do__container{
    width: auto;
    min-height: auto;
    max-height: auto;
  }

  .to-do__list{
    max-height: 300px;
  }
}

@media(max-width: 687px){
  .to-do__container{
    flex-direction: column;
    padding: 0 15px;
    flex-wrap: nowrap;
  }

  .to-do__list{
    max-height: 300px;
  }

  .to-do__active {
    padding: 0 30px;
    padding-top: 50px;
    flex: 1 1 auto;
    margin-bottom: 100px;
  }

  .to-do-form {
    display: flex;
    flex-direction: column;
  }

  .to-do-form__input-text {
    margin-bottom: 10px;
    padding-left: 25px;
    height: 40px;
  }
  
  .to-do-form__btn{
    height: 35px;
    max-width: 200px;
    justify-content: flex-end;
  }

  .to-do__done{
    flex: 1 1 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 500px){
  .to-do-task__name {
    font-size: 20px;
  }

  .to-do__task{
    max-width: 310px;
  }

  .to-do__buttons{
    flex: 1 1 100%;
  }

  .to-do__list{
    overflow-y: auto;
    flex: none;
  }

  .to-do__title{
    margin-bottom: 25px;
  }

  .to-do-task__succes{
    flex: 1 1 auto;
    height: 35px;
  }
  
  .to-do-task__edit{
    width: 50%;
  }

  .to-do-task__remove{
    margin-left: 40%;
  }

}

@media(max-width: 350px){
  .to-do-form__input-text{
    max-width: 200px;
  }
}


.to-do__task_done{
  background-color: rgba(16, 240, 91, 0.8);
}

.to-do__field {}
.nes-field {}

.to-do-comm__label {
  margin-top: 10px;
}
.nes-input {
  transition: all 0.4s ease;
  opacity: 0.7;
}

.nes-input:focus{
  opacity: 1;
}

.listener{}
